.home {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 50px;
  margin-bottom: 10%;
}

.headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-size: 90px;
  height: 60px;
  font-weight: 50;
  color: black;
}

.headerContainer p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: black;
}

.headerContainer button {
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  background-color: #121619;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.headerContainer button:hover {
  background-color: #07090a;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .menuTitle {
  font-family: cursive;
  font-size: 60px;
}

.menuList {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.inputForms {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  border: 1px solid rgb(184, 180, 180);
}

.basicSearchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.SearchForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: block;
  height: auto;
}

.menuItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.menuItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menuItem h2,
.menuItem p {
  margin-left: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.usercard-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  border: 2px solid red;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.usercardbox {
  display: flex;
  border: 2px solid green;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.snip1336 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 480px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
  max-height: 620px;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  margin-top: 0;
}

.backgroundImage {
  height: 70%;
}

.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption button {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption button:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .adopt {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
  background-color: black;
}

.snip1336 .save {
  background-color: black;
}

.snip1336 .foster {
  background-color: black;
  border: 1px solid #8be4b0;
  position: relative;
  margin-left: 2%;
}

.snip1336 h2 {
  font-weight: 300;
  margin-bottom: 2%;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-bottom: 1%;
}

.petname {
  position: relative;
  top: -17%;
}

.petedit-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 50%;
}

.editPet {
  position: relative;
}
.adopt {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}

.adopt :hover {
  opacity: 1;
}

.petpage-container {
  display: flex;
  flex-direction: column;
}

.pet-title {
  display: flex;
  justify-content: center;
}

.petpage-main {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.petpage-button {
  display: flex;
  justify-content: center;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
  width: 15%;
}

.petpage-button:hover {
  background-color: #4095c6;
}

.divbutton {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

.editIcon {
  cursor: pointer;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.searchText,
select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.searchText:focus,
textarea:focus,
select:focus {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 0 5px rgba(75, 201, 112, 1) inset;
  border: 1px solid rgba(75, 201, 112, 1);
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.SearchButton {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #8a865d;
  font-size: 18px;
  letter-spacing: 0.07em;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #8a865d;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.SearchButton:hover {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #8a865d;
  font-size: 20px;
  letter-spacing: 0.07em;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 2px solid #8a865d;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline;
}

button {
  margin-top: 3%;
  margin-bottom: 3%;
}

.availableCheck {
  display: flex;
  flex-direction: row;
}

.availabletext {
  padding-right: 5%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }

  textarea {
    max-width: 440px;
    resize: vertical;
  }
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .headerContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }

  .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: white;
  }

  .headerContainer p {
    font-size: 30px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #121619;
  }
}
